<h1 class="page-header">Edit Blog</h1>

<div class="row show-hide message" *ngIf="message">
  <div [ngClass]="messageClass">
      {{message}}
  </div>
</div>

<form (submit)="updateBlogSubmit()" *ngIf="!loading">
    
    <div class="form-group">
        <label for="title">Title</label>
        <input [disabled]="processing" type="text" name="title" class="form-control" placeholder="*Blog title" [(ngModel)]="blog.title" />
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea [disabled]="processing" name="body" cols="30" rows="10" [(ngModel)]="blog.body" class="form-control" placeholder="*Blog body"></textarea>
    
    <a [routerLink]="['/delete-blog/', blog._id]"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">Delete</button></a>
        <button type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>
        <button [disabled]="processing" type="submit" name="button" class="btn btn-info">Save Changes</button>

    </div>
</form>