<h1  class="page-header">Blog Feed</h1>

<div class="row show-hide-message">
  <div [ngClass]="messageClass" *ngIf ="message && newPost">
    {{message}}
  </div>
</div>

<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<br/>
<br/>


<!-- New Blog Form -->

  <form [formGroup]="form" name="blogForm" (submit)="onBLogSubmit()" *ngIf="newPost">
    <div class="form-group">
      
      <!-- Title input -->
      
      <label for="title">Title</label>
      <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
          <input type="text" name="title" class="form-control" placeholder="*Blog Title"
          autocomplete="off" formControlName="title">

          <ul class="help-block">
              <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
              <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50 min length: 5</li>
              <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or a number</li>
            </ul>
      </div>
    


       <!-- Body input -->
      
       <label for="title">Body</label>
       <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
        
        <textarea name="body" cols="80" rows="8" placeholder="*Body" class="form-control" formControlName="body"></textarea>

           <ul class="help-block">
               <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
               <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500 min length: 5</li>
             </ul>
       </div>
     </div>

     <button [disabled]="processing" type="button" name="button"(click)="goBack()" class="btn btn-warning">Go Back</button>
     <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>




  </form>



<!-- End New Blog Form -->


<div *ngIf ="!newPost">
  <div class="panel panel-primary" *ngFor="let blog of blogPosts">
      <div class="panel-heading">

        <h3 class="panel-title">{{blog.title}}</h3>
      </div>

      <div class="panel-body">
          {{blog.body}}
      </div>

<!-- Footer -->

      <div class="panel-footer">
        <strong>Posted by: </strong>{{blog.createdBy}}
        <br>
        <strong>Date: </strong>{{blog.createdAt | date: 'MMM dd, yyyy'}}
      
        <br>

      <div *ngIf="username === blog.createdBy">
        <strong>Likes: </strong>{{blog.likes}}
        <br>
        <strong>Dislikes: </strong>{{blog.dislikes}}
      </div>    

      <a [routerLink] = "['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <a [routerLink] = "['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

      <!-- Likes -->

      <div class="dropdown">
          <button [disabled]="blog.likedBy.indexOf(username) >-1" type="button" name="button" class="btn btn-sm btn-success" *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)">
            <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>{{blog.likes}}
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{liker}}</a>
          </div>
      </div>

      <!-- end likes -->

      <!-- dislikes -->
      <div class="dropdown">
          <button [disabled]="blog.dislikedBy.indexOf(username) >-1" type="button" name="button" class="btn btn-sm btn-warning" *ngIf="username !== blog.createdBy" (click)="dislikeBlog(blog._id)">
            <span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>{{blog.dislikes}}
          </button>
          <div class="dropdown-content">
           <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{disliker}}</a>
          </div>
      </div>
      <!-- end dislikes -->
  </div>
  <!-- end footer -->

  <ul class="list-group">
    <li class="list-group-item">
      <button [disabled]="newComment.indexOf(blog._id) > -1" name="button" type="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)">Post Comment</button>
      <br>
      <br>
        <div *ngIf="newComment.indexOf(blog._id) > -1">
          <form [formGroup] = "commentForm">
            <textarea name="comment" id="" cols="20" rows="10" class="form-control" formControlName="comment"></textarea>
            <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
                <ul class="help-block">
                
                  <li *ngIf="commentForm.controls.comment.errors?.required && 
                  commentForm.controls.comment.dirty">
                  This field is required
                </li>
               
                <li *ngIf="(commentForm.controls.comment.errors?.maxlength && 
                commentForm.controls.comment.dirty) || (commentForm.controls.comment.errors?.minlength && 
                commentForm.controls.comment.dirty)">
                COmment must be at least 1 characters but no more than 200
              </li>

                </ul>
            </div>
            <br>
            <br>
            <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click) ="postComment(blog._id)">Submit Comment</button>
            &nbsp;&nbsp;<button [disabled] = "processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
             </form>
        </div>
        <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item" (click)="expand(blog._id)">
          <span>Show Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>

        <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
          <span (click)="collapse(blog._id)">Hide Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>

        <div *ngIf="enabledComments.indexOf(blog._id) > -1">
          <li *ngFor="let comment of blog.comments" class="list-group-item">
            <strong>{{comment.commentator}}: </strong>{{comment.comment}}
          </li>
        </div>

  </ul>


  </div>
</div>